UPDATESDIR="/var/lib/koha/primo/koha/updates"

tar_ext=".tar.gz"
tar_opts="czf"

file_prefix="46GUB-delta-"
file_ext=".marc"

primo_user="primo"
primo_group="primo"

exp_tmp="$$"
exp_root="/var/tmp"
exp_dir="$exp_root/$exp_tmp"

koha_path="/home/koha/koha-production/current"
koha_shell="/usr/sbin/koha-shell"
export_records_opts="--dont_export_items --set_deleted_marc_conditions=942n=1"

data_dir="/opt/koha-primo-export"
